.box {
  border: solid 2px #000;
  padding: 20px;
}

.box__heading {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.box__list{
  list-style: none;
  padding: 0px;
}

.box__list a{
  color: #000;
}

.box__list a:hover{
  text-decoration: none;
  color: #000;
}

.box__list li:hover{
  cursor: pointer;
  background-color: #ddd;
}

.button{
  border: solid 1px #000;
  border-radius: 0px;
  color: #fff;
  box-shadow: 3px 3px #000;
  width: 75px;
}

.button:hover{
  background-color: #ddd;
}

.button--green{
  background-color: #009E0F;
}