.createForm{
  padding: 20px 20px;
}

.createForm--flex{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.createForm__heading{
  font-size: 24px;
  font-weight: bold;
}

.createForm__input{
  margin: 20px 0px;
}

.createForm__textarea{
  margin: 20px 0px;
  width: 100%;
  height: 75px;
}

.createForm__listSelect{
  display: flex;
  flex-wrap: wrap;
}

.createForm__listSelect div{
  width: 50%;
}

.createForm__listSelect label{
  width: 100px;
}